<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My RPG Game{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="bg-primary text-white p3 mb-4">
        <h1 class="container">RPG GAME</h1>
    </header>

    <main class="container mt-4">
        {% block content %}

        {% endblock %}
    </main>

    <footer class="bg-light text-center py-3 mt-4">
        <small>© 2025 TKG RPG Project</small>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>