{% extends 'game/base.html' %}
{% block title %}バトル{% endblock %}

{% block content %}
    <h2>バトル スタート！</h2>
    {% if buffs %}
        <p style="margin: 0.1px 0;">身体強化:残り{{ buffs.atk_up.turns}}ターン</p>
    {% endif %}
    <p>{{ player.profile.name }} (LV:{{ player.level }} HP:{{ player.hp }}/{{ player.max_hp }} ATK:{{ bufatk }} DEF:{{ bufdef }} SPD:{{ player.spd }} SP:{{ player.mp }}/{{ player.max_mp }})</p>
    {% if debuffs %}
        <p style="margin: 0.1px 0;">気迫:残り{{ debuffs.atk_down.turns}}ターン</p>
    {% endif %}
    <p>{{ enemy.name }} (LV:{{ enemy.level }} HP:{{ enemy.hp }}/{{enemy.max_hp}} ATK:{{ debufatk }} DEF:{{ debufdef }} SPD:{{ enemy.spd }})</p>

    {% if message %}
        <p style="white-space: pre-line;">{{ message }}</p>

        {% if redirect_after %}
            <script>
                setTimeout(function() {
                    window.location.href = "{% url 'battle_start_redirect' player.id %}";
                }, 1500);  // 1.5秒後に戻る
            </script>
        {% endif %}
    {% endif %}

    {% if "を倒した" in message %}
            <form action="{% url 'battle_start_redirect' player.id %}" method="get">
                <button type="submit" class="btn btn-primary mt-3">戻る</button>
            </form>
            
            <script>
                setTimeout(function() {
                    window.location.href = "{% url 'battle_start_redirect' player.id %}";
                }, 5000);
            </script>

    {% else %}
        {% if player.hp > 0 and enemy and not recovering %}
            <form method="POST" id="action-form">
                {% csrf_token %}
                <button type="submit" name="action" value="attack" class="btn btn-danger">攻撃する</button>
                <button type="submit" name="action" value="defend" class="btn btn-secondary">防御する</button>
                <button type="button" id="special-skill-btn" class="btn btn-warning">得意技</button>
            </form>

            <div id="special-skills" style="display: none;">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="special" value="skill1" class="btn btn-warning">渾身斬り</button>
                    <button type="submit" name="special" value="skill2" class="btn btn-warning">身体強化</button>
                    <button type="submit" name="special" value="skill3" class="btn btn-warning">気迫</button>
                </form>
            </div>

            <script>
                document.getElementById('special-skill-btn').addEventListener('click', function() {
                    document.getElementById('action-form').style.display = 'none';
                    document.getElementById('special-skills').style.display = 'block';
                });
            </script>
        {% endif %}
    {% endif %}

{% endblock %}